@using CoreLayer.ViewModels.ProductGroupVM
@model IEnumerable<IIndexProductGroupVm>
<nav class="header-main-nav">
    <div class="d-block">
        <div class="align-items-center">
            <ul class="menu-ul mega-menu-level-one">
                @foreach (var item in Model.Where(m => m.PartentId == null))
                {
                    <li id="nav-menu-item" class="menu-item nav-overlay">
                        <a href="#" class="current-link-menu">
                            @item.Title
                        </a>
                        <ul class="sub-menu is-mega-menu mega-menu-level-two">
                            @foreach (var sub in Model.Where(m => m.PartentId == item.Id))
                            {

                                <li class="menu-mega-item menu-item-type-mega-menu">
                                    <a href="#" class="mega-menu-link">
                                        @sub.Title
                                    </a>
                                    @if(Model.Any(m=>m.PartentId==sub.Id))
                                    {
                                        <ul class="sub-menu mega-menu-level-three">
                                     @foreach (var subgroup in Model.Where(m=>m.PartentId==sub.Id))
                                     {
                                            <li class="menu-mega-item-three">
                                            <a href="#">
                                               @subgroup.Title
                                            </a>
                                        </li>
                                     }
                                    </ul>
                                    }
                                </li>
                            }

                            <li class="bg-image">
                                <img src="~/assets/images/menu-main/digital.png" alt="">
                            </li>

                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<!--    responsive-megamenu-mobile----------------->
<nav class="sidebar">
    <div class="nav-header">
        <div class="header-cover"></div>
        <div class="logo-wrap">
            <a class="logo-icon" href="#">
                <img alt="logo-icon" src="~/assets/images/logo.png"
                     width="40">
            </a>
        </div>
    </div>
    <ul class="nav-categories ul-base">
        <li>
            <a href="#" class="collapsed" type="button" data-toggle="collapse"
               data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <i class="mdi mdi-chevron-down"></i>کالای دیجیتال
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                 data-parent="#accordionExample" style="">
                <ul>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">گوشی موبایل</a>
                        <ul>
                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                            <li><a href="#" class="category-level-3">اپل</a></li>
                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                            <li><a href="#" class="category-level-3">آنر</a></li>
                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">دوربین</a>
                        <ul>
                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="collapsed" type="button" data-toggle="collapse"
               data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="mdi mdi-chevron-down"></i>آرایشی و بهداشتی
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                 data-parent="#accordionExample" style="">
                <ul>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">گوشی موبایل</a>
                        <ul>
                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                            <li><a href="#" class="category-level-3">اپل</a></li>
                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                            <li><a href="#" class="category-level-3">آنر</a></li>
                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">دوربین</a>
                        <ul>
                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">ابزار و اداری</a></li>
        <li><a href="#">مد و پوشاک</a></li>
        <li>
            <a href="#" class="collapsed" type="button" data-toggle="collapse"
               data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="mdi mdi-chevron-down"></i>خانه و آشپزخانه
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                 data-parent="#accordionExample" style="">
                <ul>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                        <ul>
                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">گوشی موبایل</a>
                        <ul>
                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                            <li><a href="#" class="category-level-3">اپل</a></li>
                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                            <li><a href="#" class="category-level-3">آنر</a></li>
                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#" class="category-level-2">دوربین</a>
                        <ul>
                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">لوازم تحریر و هنر</a></li>
        <li><a href="#">کودک و نوزاد</a></li>
    </ul>
</nav>
<div class="nav-btn nav-slider">
    <span class="linee1"></span>
    <span class="linee2"></span>
    <span class="linee3"></span>
</div>
<div class="overlay"></div>
<!-- bottom-menu-joomy -->
<div class="bottom-menu-joomy">
    <ul class="mb-0">
        <li>
            <a href="home-1.html">
                <i class="fa fa-home"></i>
                صفحه اصلی
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nav-btn nav-slider">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                دسته بندی ها
            </a>
        </li>
        <li>
            <a href="cart.html">
                <i class="fa fa-shopping-cart"></i>
                سبد خرید
                <div class="shopping-bag-item">2</div>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fa fa-search"></i>
                جستجو
            </a>
        </li>
        <li>
            <a href="login.html">
                <i class="fa fa-user"></i>
                حساب کاربری
            </a>
        </li>
    </ul>
</div>
<!--    responsive-megamenu-mobile----------------->